<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/style.css') %>">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <title>Link Shortener</title>
  </head>
  <body>   
    <div class="container">
      <form method="post">
        <div class="header">
           <p>Link Shortener</p>
        </div>
        <div class="input">
         <input placeholder="http://...." type="text" class="button" value="<%= h(params[:url]) %>" name="url" id="url" />
          <input type="submit" class="button" id="submit" value="SHORTEN">
        </div>
      </form>
      <div class="description">
        <p><%= flash[:error] %></p>
        <% if @absolute_url %>
          <p>
            Short URL:
            <a id="short_link" href="<%= @absolute_url %>"><%= @absolute_url %></a>
            <button class="button-small" data-clipboard-action="copy" data-clipboard-target="#short_link">Copy</button>
            </br>
            Statistics:
            <a href="<%= @stats_url %>"><%= @stats_url %></a>
          </p>
        </div>
      <% end %>
    </div>
    <script>
      var clipboard = new Clipboard('.button-small');
    </script>
  </body>
</html>
