<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Stats</title>
  </head>
  <body>
    <div class="container">
      <h1>Stats for <%= @short_url %></h1>
      <p>
        <b>URL</b>: <a href="<%= @url %>"><%= @url %></a></br>
        <b>Clicks</b>: <%= @clicks %></br>
      </p>
      <h2>Visitor data</h2>
      <%= 'No data' if @user_data.empty? %>
      <% @user_data.each_with_index do |data, index| %>
        <div class=table-responsive>
          <table class="table table-bordered table-striped">
            <tbody>
              <h3>Click #<%= index + 1 %></h3>
              <% data.each do |key, value| %>
                <tr>
                  <th class=text-nowrap scope=row><%= key %></th>
                  <td><%= value %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </body>
</html>
